<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
<%= f.label "first_name" %>
<%= f.text_field :first_name %>
</div>
<div>
<%= f.label "last_name" %>
<%= f.text_field :last_name %>
</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <h3> Address </h3>

 <%= f.fields_for :address_attributes do |user_address_form| %>
 <%= user_address_form.text_field :address_number, class: "form-control", placeholder: "Address_number" %>
 <%= user_address_form.text_field :address_main, class: "form-control", placeholder: "Address_main" %>
 <%= user_address_form.text_field :address_complement_1, class: "form-control", placeholder: "Address_complement_1" %>
 <%= user_address_form.text_field :address_complement_2, class: "form-control", placeholder: "Address_complement_2" %>
 <%= user_address_form.text_field :city, class: "form-control", placeholder: "City" %>
 <%= user_address_form.text_field :postal_code, class: "form-control", placeholder: "Postal_code" %>
 <%= user_address_form.text_field :country, class: "form-control", placeholder: "Country" %>

<% end %>


 <div>
<%= f.label "wifi" %>
<%= f.check_box :wifi %>
</div>
<div>
<%= f.label 'price' %>
<%= f.check_box :price %>
</div>
<div>
<%= f.label 'e_outlet' %>
<%= f.check_box :e_outlet%>
</div>

<div>
<%= f.label 'access_handi' %>
<%= f.check_box :access_handi %>
</div>
<div>
<%= f.label 'vibe'%>

    <label class="checkbox-inline">
      <%= f.check_box :vibe %>Hip Hop
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :vibe %>Lounge
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :vibe %>Classic
    </label>
     <label class="checkbox-inline">
      <%= f.check_box :vibe %>Exotic 
    </label>
     <label class="checkbox-inline">
      <%= f.check_box :vibe %>Pop
    </label>
     <label class="checkbox-inline">
      <%= f.check_box :vibe %>Electronic
    </label>
  
</div>

<div>
<%= f.label 'vegan' %>
<%= f.check_box :vegan %>
</div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
