

<h1>Your profile :</h1>




	<% if current_user.try(:admin?) %>
	<div class="row w-100 mt-5 ml-4 d-flex justify-content-end">
			<a href="#" class="btn-edit scrollto">Admin ? Viens donc voir ton dashboard</a>
	</div>
	<% end %>
  <%if current_user%>
    <p>First_name : <%= current_user.first_name %></p>
    <p>Last_name : <%= current_user.last_name %></p>
    <p>Email : <%= current_user.email %></p>
    <p>Wifi : <%= boolean_wifi %></p>
    <p>Price : <%= boolean_price %></p>
    <p>E_outlet : <%= boolean_eoutlet %></p>
   <div class="row w-100 mt-5 ml-4 d-flex"> <p>Access_handi : <%= boolean_access_handi %> <i class="fab fa-accessible-icon"></i> </p> </div>
    <p>Vibe : <%= current_user.vibe %></p>
    <p>Vegan : <%= boolean_vegan %></p>
    <%= link_to "Editer le profil", edit_user_registration_path(current_user.id) %>

  <%end%>

  <section class="section">
          

          <div class="section-body">
            <h2 class="section-title"></h2>
            <p class="section-lead"></p>

            <div class="row">
              <div class="col-12 col-sm-12 col-lg-7">
                <div class="card author-box card-primary">
                  <div class="card-body">
                    <div class="author-box-left">
                      <img alt="image" src="http://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png" class="rounded-circle author-box-picture">
                      <div class="clearfix"></div>
                      <a href="#" class="btn btn-primary mt-3 follow-btn" data-follow-action="alert('follow clicked');" data-unfollow-action="alert('unfollow clicked');">Follow</a>
                    </div>
                    <div class="author-box-details">
                      <div class="author-box-name">
                        <a href="#"><%= current_user.first_name %></a>
                        <a href="#"><%= current_user.last_name %></a>
                      </div>
                      <div class="author-box-job"><%= current_user.email%></div>
                      <div class="author-box-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                      </div>
                      <div class="mb-2 mt-3"><div class="text-small font-weight-bold">Follow Hasan On</div></div>
                      <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#" class="btn btn-social-icon mr-1 btn-github">
                        <i class="fab fa-github"></i>
                      </a>
                      <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <div class="w-100 d-sm-none"></div>
                      <div class="float-right mt-sm-0 mt-3">
                        <a href="#" class="btn">View Posts <i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                
        </section>

