

<br>



	<% if current_user.try(:admin?) %>
	<div class="row w-100 mt-5 ml-4 d-flex justify-content-end">
			<a href="#" class="btn-edit scrollto">Admin ? Viens donc voir ton dashboard</a>
	</div>
	<% end %>
  

  <section class="section">


          <div class="section-body">
          
            <p class="section-lead"></p>

            <div class="row">
              <div class="col-12 col-sm-12 col-lg-7">
                <div class="card author-box card-primary">
                  <div class="card-body">
                    <div class="author-box-left">
                    
                      <img alt="image" src="http://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png" class="rounded-circle author-box-picture">
                      <div class="clearfix"></div>
                      <a href="link.html" class="btn btn-primary mt-3 follow-btn" data-follow-action="alert('follow clicked');" data-unfollow-action="alert('unfollow clicked');">Prénom nom</a>
                    </div>
                    <div class="author-box-details">
                      <div class="author-box-name">
                        <a href="#"><%= current_user.first_name %></a>
                        <a href="#"><%= current_user.last_name %></a>
                      </div>
                      <div class="author-box-job"><%= current_user.email%></div>
                      <div class="author-box-description">

                       
                  <%if boolean_access_handi == "oui" %>
                      <p> Accès handicapé <i class="ion-ios-checkmark" style="color:#b61251"></i> </p>
                      <% else %>
                      <p> Accès handicapé <i class="ion-close-circled" ></i> </p>
                      <% end %>
                      <%if boolean_eoutlet =="oui" %>
                      <p> Prise électrique <i class="fas fa-plug" style="color:#b61251"></i> </p>
                      <%else %>
                       <p> Prise électrique <i class="ion-flash"></i> </p>
                      <%end%>
                      <% if boolean_wifi == "oui"  %>
                      <p> Wifi <i class="fas fa-wifi" style="color:#b61251"></i> </p>
                      <%else %>
                      <p> Wifi <i class="ion-close-circled"></i> </p>
                      <%end%>


                      <% if boolean_price == "expensives"  %>

                      <p> Préférence prix<i class="ion-social-euro" style="color:#b61251"></i> 
                      <i class="ion-social-euro" style="color:#b61251"></i>
                      <i class="ion-social-euro" style="color:#b61251"></i></p>
                      <%else %>
                      <p> Préférence prix <i class="ion-social-euro" style="color:#b61251"></i>  <i class="ion-social-euro-outline"></i> 
                      <i class="ion-social-euro-outline"></i> </p>



                      <%end%>
                      <% if boolean_vegan == "oui" %>
                      <p> Vegan <i class="ion-ios-checkmark" style="color:#b61251"></i> </p>
                      <%else %>
                      <p> Vegan <i class="ion-close-circled"></i> </p>
                      <%end%>
                      
                      <p>Ambiance : <%= current_user.vibe %> <i class="fas fa-music" style="color:#b61251"></i></p>
                      
                     

                    </div>



                     <%= link_to "Editer le profil", edit_user_registration_path(current_user.id) %>
                  </div>
                </div>
                 
        </section>
       

