

<h1>Your profile :</h1>

<p>First_name : <%= current_user.first_name %></p>
<p>Last_name : <%= current_user.last_name %></p>
<p>Email : <%= current_user.email %></p>
<p>Wifi : <%= boolean_wifi %></p>
<p>Price : <%= boolean_price %></p>
<p>E_outlet : <%= boolean_eoutlet %></p>
<p>Access_handi : <%= boolean_access_handi %></p>
<p>Vibe : <%= current_user.vibe %></p>
<p>Vegan : <%= boolean_vegan %></p>

<%= link_to "Editer le profil", edit_user_registration_path(current_user.id) %>
