
<%= render "layouts/components/navbar"  %>
  
<section id="carousel-section">  
  <div id="show-header-landing">
    <div class="header-info-landing">
      <h2>Trouvez votre lieu de travail idéal à Montpellier</h2>
    </div> 
    <div class="header-btn-landing">
      <btn><%=link_to "S'inscrire", new_user_registration_path, class:'btn-fav-landing scrollto' %></btn>
    </div> 
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "coffee-shop.jpg"  %>
        </div>
        <div class="carousel-item">
          <%= image_tag "grands-enfants.jpg" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "coffee-shop.jpg" %>
        </div>
      </div>
    </div>  
  </div>
 
</section>
  
  <%= render "layouts/components/footer"  %>




  
