


  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
         <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><%=link_to "Se connecter", new_user_session_path %></li>
        </ul>
      </nav> <!--.main-nav -->

    </div>
  </header> <!-- #header -->

  
<section class="clearfix">  
  <div id="show-header">

    <div class="header-info text-right">
      <h2>Décrouvrez les plus beaux endroits de Montpellier</h2>
      <div class="row header-btn">
          <li><%=link_to "S'inscrire", new_user_registration_path, class:'btn-fav scrollto' %></li>
      </div>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "coffee-shop.jpg", class:"d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "coffee-shop.jpg", class:"d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "coffee-shop.jpg", class:"d-block w-100" %>
        </div>
      </div>
    </div>


  </div>
</section>




  <!--==========================
    Footer
  ============================-->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

