<%= render "layouts/components/navbar"  %>

<br><br><br><br><br>
      <div class="container team-page">
        <div class="section-header">
          <h3>Equipe</h3>
          <p>L'équipe formidable à la base de cette application merveilleuse</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="member">
	    				<%= image_tag "team/emma.png", class:"img-fluid" %>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Emma Calvet</h4>
                  <span>Chief Executive Officer</span>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="member">
	    				<%= image_tag "team/hicham.png", class:"img-fluid" %>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Hich-hich</h4>
                  <span>Product Manager</span>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="member">
	    				<%= image_tag "team/charles.png", class:"img-fluid" %>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Charles Dutheil</h4>
                  <span>CTO</span>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="member">
	    				<%= image_tag "team/jimmy.png", class:"img-fluid" %>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jimmy Charpagne</h4>
                  <span>Accountant</span>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="member">
	    				<%= image_tag "team/karel.png", class:"img-fluid" %>              
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Karel Cloarec</h4>
                  <span>Accountant</span>
                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    
<br><br><br><br><br>

<%= render "layouts/components/footer"  %>