<section class="mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Connexion</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <div class="">
                <%= f.label :email , class: ' controle-label'%>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
            </div>

            <div class="field form-group">
              <div class="">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Connexion", class: 'btn btn-success  '%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "devise/shared/links" %>
