<h1><%=@place.name%></h1>
<h3>Les photos de cet endroit</h3>
<%if @place.pictures.attached?%>
  <%@place.pictures.each do |pic|%>
    <%= image_tag pic, alt: 'picture' %>
  <%end%>
<%else%>


<%= url_map.html_safe %> 

  <p>=== Il n'y a pas encore d'avatar lié à cet endroit ===</p>
  <p>========== Il n'y a pas encore de photos de cet endroit =========</p>
  <p>=== Vous avez pris des photos lors de votre dernière visite ? ===</p>
  <p>======== Postez les pour donner envie aux utilisateurs ! ========</p>
<%end%>

<h3>Vous souhaitez ajouter des photos ?</h3>
<%= form_tag place_pictures_path(@place), multipart: true do %>
  <%= file_field_tag :pictures, :multiple => true %>
  <%= submit_tag "mettre à jour" %>
<% end %>

<!-- COMMENTS WITH DISQUS -->
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = request.original_url;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = request.original_url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://work-and-koffee.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
